# Active la réécriture d'URL
RewriteEngine on

# Lorsqu'un fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f

# Lorsqu'un dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /esgi-webapi-2a2-2022/index.php?route=$1 [L,QSA]
